@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Neutral */
  --neutral-900: #0a0a0a;
  --neutral-700: #171719;
  --neutral-600: #202022;
  --neutral-500: #2e2e2e;
  --neutral-400: #3d3d3d;
  --neutral-300: #454547;
  --neutral-200: #9d9d9d;
  --neutral-100: #c6c6c6;
  --neutral-50: #ffffff;

  /* Lime */
  --lime-500: #cef739;
  --lime-800: #283300;

  /* Green */
  --green-500: #42eb05;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-neutral-900: #0a0a0a;
  --color-neutral-700: #171719;
  --color-neutral-600: #202022;
  --color-neutral-500: #2e2e2e;
  --color-neutral-400: #3d3d3d;
  --color-neutral-300: #454547;
  --color-neutral-200: #9d9d9d;
  --color-neutral-100: #c6c6c6;
  --color-neutral-50: #ffffff;

  --color-lime-500: #cef739;
  --color-lime-800: #283300;

  --color-green-500: #42eb05;
}

@theme {
  --color-bg: #f4f4f4;

  --color-surface: #ffffff;
  --color-surface-2: #f3f4f6;

  --color-border: #d9dee6;

  --color-text: #111111;
  --color-text-secondary: #5f6672;
  --color-text-muted: #8a919e;

  --color-primary: #8ee000;
  --color-primary-hover: #7ac600;

  --color-success: #16a34a;
  --color-danger: #dc2626;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --font-mono: var(--font-jetbrains-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

@utility text-preset-1 {
  @apply font-bold text-[2.5rem] leading-[1] tracking-[-0.03125rem];
}

@utility text-preset-1-tablet {
  @apply font-bold text-[2rem] leading-[1] tracking-[-0.03125rem];
}

@utility text-preset-2 {
  @apply font-normal text-[1.25rem] leading-[1.2] tracking-[1px];
}

@utility text-preset-2-bold {
  @apply font-bold text-[1.75rem] leading-[1.4] tracking-[1px];
}

@utility text-preset-3 {
  @apply font-normal text-[1rem] leading-[1.2] tracking-[0.0625rem];
}

@utility text-preset-3-medium {
  @apply font-medium text-[1rem] leading-[1.2] tracking-[0.0625rem];
}

@utility text-preset-3-bold {
  @apply font-bold text-[1rem] leading-[1.1] tracking-[0.0625rem];
}

@utility text-preset-4 {
  @apply font-normal text-[0.875rem] leading-[1.2] tracking-[0.0625rem];
}

@utility text-preset-5 {
  @apply font-normal text-[0.75rem] leading-[1.2] tracking-[0.03125rem];
}

@utility text-preset-5-medium {
  @apply font-bold text-[0.75rem] leading-[1.3] tracking-[0.03125rem];
}

@utility text-preset-6 {
  @apply font-normal text-[0.625rem] leading-[1] tracking-[0];
}
@utility pause {
  animation-play-state: paused;
}

@layer utilities {
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}
body {
  color: var(--foreground);
}

.scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #7b7b7b #1b1d24;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #1b1d24;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #7b7b7b;
  border-radius: 9999px;
  border: 2px solid #1b1d24;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #969696;
}
.green {
  filter: brightness(0) saturate(100%) invert(58%) sepia(85%) saturate(537%)
    hue-rotate(85deg) brightness(95%) contrast(90%);
}

.red {
  filter: brightness(0) saturate(100%) invert(23%) sepia(97%) saturate(6239%)
    hue-rotate(353deg) brightness(97%) contrast(109%);
}
@keyframes marquee {
  from {
    transform: translateX(1.5%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 480s linear infinite;
}
.animate-marquee:hover {
  animation-play-state: paused;
}

.attribution {
  letter-spacing: 0.5px;
  bottom: 1px;
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem;
  color: rgb(209, 154, 82);
}

/* Links */
.attribution a {
  margin: 0 0.25rem;
  text-decoration: none;
  font-weight: 600;
  color: rgb(210, 93, 50);
}

.attribution a:hover {
  opacity: 0.5;
}

/* Separator dot */
.separator {
  margin: 0 0.5rem;
  opacity: 0.6;
}
